*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid black;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
}

.top-section h4{
    font-size: 30px;
    text-align: end;
}

.image-container{
    border-radius: 50%;
    overflow: hidden;
}

.image-container,img{
    width: 300px;
    height: 320px;
}

.about-section{
    margin-top: 50px;
}

.about-section h2{
    text-decoration: underline;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography-section{
    margin: 50px 0;
}

.biography-section h3{
    text-decoration: underline;
    margin-bottom: 20px;
}

.biography-section ul{
    margin-left: 50px;
}

.biography-section li{
    margin-bottom: 15px;
}

footer{
    margin: 50px 0;
}

footer p{
    text-align: end;
}